#scroll-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
.scroll-item {
  display: inline-block;
  width: 150px;
  transition: transform 1s;
  -moz-transition: transform 1s; /* Firefox 4 */
  -webkit-transition: transform 1s; /* Safari and Chrome */
  -o-transition: transform 1s; /* Opera */
  -ms-transition: transform 1s;
}
